.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
    @media (max-width: 575.98px) {
        width: auto;
    }
    @media (max-width: 767.98px) { 
        width: auto;
     }
}