.fluid {
    background-color:  #191d2c;
    padding: 60px 0;
    h1 {
        color: white;
    }
    p {
        color: #B9B9B9;
    }
    @media (max-width: 575.98px) {
        padding-top: 20px;
        padding-bottom: 60px;
        h1 {
            font-size: 36px;
        }
    }
    @media (max-width: 767.98px) {
        h1 {
            font-size: 36px;
        }
     }
}
.aboutContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    .aboutContent {
        flex: 4;
        i {
            color: white;
        }
        @media (max-width: 767.98px) {
            flex: 2;
         }
    }
    p {
        max-width: 680px;
        margin-bottom: 40px;
    }
    .aboutImage {
        @media (max-width: 575.98px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
        @media (max-width: 767.98px) {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .imageRadius {
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    @media (max-width: 575.98px) {
        flex-direction: column;
        text-align: center;
    }
    
}

.aboutOverview {
    padding: 60px 0;
    h2{
        text-align: center;
    }
    p {
        text-align: center;
        color: gray;
    }
    .devContainer {
        padding: 40px 100px 0 100px;
        h3 {
            text-align: center;
        }
        @media (max-width: 575.98px) { 
            padding: 0;
        }
    }
}