.logoWrapper{
  flex: 1;
  .logo {
      width: 35px;
      height: auto;
  }
}
.navigation {
  display: flex;
}
.navbar-wrapper {
  height: 100px;
  background-color: #191d2c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .current {
      color:  #edff7b;
    }
    a {
      text-decoration: none;
      color: white;
      margin: 0 1em;
      font-size: 20px;
      position: relative;
      &:hover {
        color: #edff7b;
        &:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid #edff7b;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
      }
    }
  }
}
