.footerLinks {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    a {
        font-size: 18px;
        font-weight: 100;
        margin: 0 20px;
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        &:hover {
            color: rgb(25, 29, 44);
            &:after {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
          }
          &:after {
            content: "";
            // position: absolute;
            left: 0;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid rgb(25, 29, 44);
            margin-top: 3px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
          }
    }
}