.icons-wrapper {
    margin-top: 6em;
    a {
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
    img {
        margin-right: 0.8em;
        cursor: pointer;
        width: 25px;
        height: auto;
    }
    @media (max-width: 575.98px) {
        margin-top: 3em;
    }
}