.icons-wrapper {
    margin-top: 6em;
    a {
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
    img {
        margin-right: 0.8em;
        cursor: pointer;
    }
}